<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @RenderBody()
    <p>
        Source: <a href="https://github.com/YDKK/spl.0ko.me/">https://github.com/YDKK/spl.0ko.me/</a>
    </p>
    @RenderSection("Scripts", required: false)
</body>
</html>
