@page
@{
    ViewData["Title"] = "プライバシーポリシー";
}

<h1>プライバシーポリシー</h1>

<p>
    このサイト（spl.0ko.me）では，次の情報をログとして記録しています．
</p>
<ul>
    <li>アクセス日時</li>
    <li>アクセス元のIPアドレス</li>
    <li>User-Agent</li>
    <li>Referer</li>
</ul>
<p>
    また，Google Analyticsによるサイトの利用状況の解析を行っており，その過程でCookieが利用される可能性があります．
</p>
<p>
    記録した情報は公開しませんが，利用者を特定できない形で統計情報などを公開する場合があります．<br/>
    ただし捜査機関からの要請があった場合は，この限りではありません．
</p>
